.header {
    margin: 1%;
    width: auto;
    height: auto;
    background-color: #034A72;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    align-items: center;
    padding: 20px;
    font-size: 1rem;
    color: aliceblue;
    font-family: 'Lato', sans-serif;
  }
  .p {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 1.5rem;
    text-align: left;
    color: white;
    margin: 0;
    padding: 1px;
  }